/*!
 * CSS Document for Activity board
 * Autor: Petr Zaparka petr@zaparka.cz
 */
 
body{
  padding: 10px;
  font-family: 'Gill Sans Light', 'Gill Sans', Helvetica, Arial, tahoma, sans-serif;
  font-size: 18px;
  background: #aaa;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  color: #565656;
}

h2, h3, p {
  margin: 0;
}

img.loader {
  margin-top: 20px;
  height: 50px;
}

#content {
  margin: 0 auto;
  padding: 20px;
  width: 1024px;
  background: #333;
}

#content h2 {
  letter-spacing: 2px;
  color: #aaa;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  width: 100px;
}

#content div h3 {
  letter-spacing: 1px;
  margin-top: 20px;
  font-family: Arial,Helvetica, Arial, tahoma, sans-serif;
  font-size: 20px;
  text-transform: lowercase;
  color: #FF9900;
}

#content div {
  margin-bottom: 40px;
  border-top: 1px dashed #fff;
  color: #fff;
}

#content div a {
  display: block;
  color: #fff;
  text-transform: lowercase;
}

#content div span {
 font-size: 14px;
 color: #aaa;
}

#content div span.error {
  display: block;
  padding-top: 20px;
  font-size: 20px;
  color: #B30000;
}
